section.home

  .content-container
    position: absolute
    top: 100px
    left: 180px
    right: 180px
    bottom: 100px
    z-index: 1

    .content
      position: absolute
      top: 30px
      bottom: 30px
      right: 30px
      left: 30px
      z-index: 2

    .background-element
      // floating-left image
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 60%
      background: gray
      background-image: url('/img/DSC_6077.JPG')
      background-size: cover
      background-position: center

  .hero-text
    position: absolute
    top: 50px
    left: 43%

    h1
      margin: 0
      line-height: 1
      font-weight: normal
      color: $black

      .top
        font-size: 45px

      .bottom
        font-size: 100px
        text-indent: 60px

    .subtext
      text-transform: uppercase
      text-align: left
      color: $black
      text-indent: 165px
      margin-top: 90px


  button.cta
    position: absolute
    right: 4px
    top: 270px
    width 250px

  .section-background
    position: absolute
    left: 33%
    right: 0
    top: 0
    bottom: 0
    background-image: url('/img/engage.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    opacity: 0.15
