image()
  background-position: center center
  background-repeat: norepeat
  background-size: cover
  height: 0
  box-sizing: border-box

.images
  height: auto
  padding: 0

  &.three-square
    .image
      image()
      width: 33.333%
      float: left
      padding-top: 33.333%
      background-color: gray
      border-right: 8px solid $white

      &:last-child
        border-right: none


