section.location
  .grid, .section-header
    z-index: 1
    position: relative

  .col-2
    position: relative

  .bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 0
    background-color: $grey

  .description
    position: relative
    padding: 20px 40px 30px 40px
    text-align: justify
    accent-bottom-left($black)

  .address
    &:before
      content: ''
      float: left
      height: 35px
      width: 30px
      margin-right: 10px
      background-image: url('../img/favorite.svg')
      background-size: contain
      background-repeat: no-repeat
      background-position: center

  .directions
    padding: 20px 0

    h3
      margin-bottom: 0

    ul
      margin: 0
      padding: 0 0 0 20px
      list-style-type: square

      li
        margin-bottom: 6px

  .venue-pic
  .venue-lawn,
  .venue-bar,
  .venue-bar2
    position: absolute
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  .venue-pic
    background-image: url('../img/venue/venue.jpg')
    width: 100%
    height: 65%
    left: 0
    top: -82px

  .venue-lawn
    background-image: url('../img/venue/lawn.jpg')
    width: 60%
    right: 5%
    height: 50%
    bottom: 0
    left: 0

  .venue-bar
    background-image: url('../img/venue/bar.jpg')
    width: 36%
    height: 50%
    right: 0
    bottom: 0
