@require _variables

body
  color: $black
  background-color: $white
  font-family: 'Lato', sans-serif
  letter-spacing: 0.5px
  font-size: 14px
  
h1, h2, h3, h4
  font-family: 'Playfair Display', serif
  
.content-container
	position: absolute
	top: 100px
	left: 80px
	right: 80px
	bottom: 100px
	background: #fff
	box-shadow: 0 2px 15px 0px rgba(0,0,0,0.1)