h2.section-header Accomodations
.grid
  .col-3x2
    h3 Hyatt Regency Westlake Village
    p
      | We have a block of rooms reserved for the 24th &amp; 25th at the Hyatt Regency. If you choose to come earlier or stay later, the discounted group rate will apply to those days, so be sure to use our booking code. &nbsp;
      a(href="https://www.hyatt.com/en-US/hotel/california/hyatt-regency-westlake/westl") Book your room here.

  .col-3
    h3 Other Options
    p
      | There are numerous other hotels in the area that are available, however they Hyatt was the best cost/quality we could find. For families or groups larger than two, we recommend trying &nbsp;
      a(href="https://www.airbnb.com/s/Malibou-Lake-Mountain-Club--Lake-Vista-Drive--Agoura-Hills--CA--USA/homes?refinement_paths%5B%5D=%2Fhomes&place_id=ChIJ9zlGrHch6IARS39hLhUEack&query=Malibou%20Lake%20Mountain%20Club%2C%20Lake%20Vista%20Drive%2C%20Agoura%20Hills%2C%20CA%2C%20USA&room_types%5B%5D=Entire%20home%2Fapt&allow_override%5B%5D=&s_tag=At0Cm7Dy") AirBNB
      | .
    .seperator
    h3 Transportation
    p Transportation will be provided from the hotel to the wedding venue. Stay tuned for more information.
