h2.section-header FAQ
.grid
  .col-3
    ul
      li
        .question Do I have to RSVP?
        .answer Yep! Absolutely. We need to know who's coming so that we can plan an amazing evening for everyone. Thanks for understanding.
      li
        .question What is the RSVP deadline?
        .answer April 21, 2019. After that we will assume you will NOT be attending.
      li
        .question I have some RSVP questions or concerns...
        .answer Just call or email us directly.
      li
        .question I think you mean "Malibu".
        .answer
          | Nope, it's actually &nbsp;
          a(href="https://en.wikipedia.org/wiki/Malibou_Lake,_California" target="_blank") Malibou Lake.
      li
        .question When should I arrive?
        .answer Please arrive before 5:00pm. Ceremony will begin promptly at 5pm.
      li
        .question When does it end?
        .answer The event will end promptly at 11:00pm.
      li
        .question Will there be parking at the venue?
        .answer Yes there will be free parking at the venue. Guests staying at the hotel can leave their cars there and make use of the shuttle bus.

  .col-3
    ul
      li
        .question Can I bring a plus one?
        .answer Yes, you may bring one guest. Be sure to fill in their name on the RSVP form. Please let us know if this changes after you have RSVPed.
      li
        .question Can I bring our kids?
        .answer No. Because of limitations from the venue and to create a more relaxed atmosphere for our guests, only kids from close family will be present. Thanks for understanding.
      li
        .question What should I expect?
        .answer Short outdoor wedding ceremony, cocktail hour, dinner, open bar, dancing &amp; games.
      li
        .question What's for dinner?
        .answer We are serving food family style (menu TBD). We hope that this will help bring everyone together while also allowing people to be more flexible with how much, and what they eat. Table to table bartering is encouraged. If you have any dietary restrictions at all it is important that you let us know in your RSVP.

  .col-3
    ul
      li
        .question Dress code?
        .answer Cocktail attire please, but first and foremost, be comfortable and enjoy yourself. White clothing is reserved for the bride. The ceremony will be outdoors on a grass lawn, so wear appropriate shoes. The reception and cocktail hour will be held indoors in the adjoining lodge. We recommend bringing a light jacket for the evening, just in case.
      li
        .question Can I take pictures?
        .answer We ask that guests please refrain from using their phones or taking pictures/videos during the ceremony to keep the moment peaceful and allow our photographers to work their magic. After that, all photos are welcome and encouraged. There will also be a photobooth.
      li
        .question Do you have a hashtag for the social media?
        .answer TBD... (send us your suggestions)
      li
        .question Is there a gift registry?
        .answer
          | We're just happy you're celebrating with us! But we have also registered &nbsp;
          a(href="https://www.blueprintregistry.com/registry/shang-and-robert") here.

