h2.section-header FAQ
.grid
  .col-3
    ul
      li
        .question What is the RSVP deadline?
        .answer May 1, 2019. After that we will assume you will NOT be attending.
      li
        .question I have some RSVP questions/concerns...
        .answer Just call or email us directly.
      li
        .question When should I arrive?
        .answer - -- - -  -
      li
        .question When does it end?
        .answer - -- - -  -
      li
        .question Dress code?
        .answer Cocktail attire please, but first and foremost, be comfortable and enjoy yourself. The ceremony will be outdoors on a grass lawn, so wear appropriate shoes. The reception and cocktail hour will be held in the adjoining lodge.
      li
        .question Is there a gift registry?
        .answer
          a(href="https://www.blueprintregistry.com/registry/shang-and-robert") Yep
      li
        .question Do you have a hashtag for the social media?
        .answer -- - - - - - -
  .col-3
    ul
      li
        .question What should I expect?
        .answer Short outdoor wedding ceremony, cocktail hour, dinner and dancing.
      li
        .question What's for dinner?
        .answer We are serving food family style. We hope that this will help bring everyone together while also allowing people to be more flexible with how much, and what they eat. Table to table bartering is encouraged. If you have any dietary restrictions at all it is important that you let us know in your RSVP.
      li
        .question Will there be parking at the venue?
        .answer Yes there will be free parking at the venue. Guests staying at the hotel can leave their cars there and make use of the shuttle bus.
      li
        .question Can I take pictures?
        .answer We ask that guests please refrain from taking pictures during the ceremony to keep the moment peaceful and allow our photographers to work their magic. After that, all photos are welcome and encouraged. There will also be a photobooth.
  .col-3
    ul
      li
        .question How did you meet?
        .answer Online! We connected on OKCupid
      li
        .question Where are you going for your honeymoon?
        .answer We have no idea yet. We would like to do something that combines our love for exploration and experiences and then transitioning into something more relaxing and quiet.


