h2.section-header Venue
.grid
  .col-2
    h3 Malibou Lake Mountain Club
    a.address(href="https://goo.gl/maps/3HgPzXymj4K2", target="_blank")
      span 29033 Lake Vista Dr.
      br
      span Agoura Hills, CA 91301
    .description
      p The Lodge at Malibou Lake is an historic venue in Agoura Hills, Southern California. Hidden in the rustic Santa Monica Mountains, shaded by sycamore and oak trees, and beside a storied private lake.
      p The Lodge is located less than an hour from downtown Los Angeles, minutes from the 101 freeway, and a step back in time from the pace of modern life.
    .grid.directions
      .col-2
        h3 From the 101 (US-101)
        ul
          li Exit Kanan Rd and go south towards PCH
          li Turn left onto Cornell Way
          li Continue onto Lake Vista Dr
          li Location will be on your right
      .col-2
        h3 From PCH (CA-1)
        ul
          li Exit PCH on Malibu Canyon Road
          li Turn left on Mulholland Hwy
          li Turn left on Lake Vista Dr
          li Location will be on your right
  .col-2.hidden-mobile
    .venue-pic
    .venue-lawn
    .venue-bar
    .venue-bar2

.bg
