h2.section-header Our Story
.grid
  .col-3.image.hidden-mobile
    .caption.light Beijing, 2017
  .col-3x2
    p Shang and Robert 'met' each other online over Christmas 2014.
    p Shang was on vacation with her extended family in Cancun (or as Robert endearingly puts it, ‘drunk in Mexico’) when she stumbled upon Robert's profile on OKCupid. Despite being slightly put off by his pretentious-looking profile picture, the attraction was undeniable. At the urging of her cousin, she connected with Robert over the app.
    p Several weeks would pass before they actually met each other in person. On their first date they discovered how easy it was to talk with each other and quickly became close as they discovered their many shared interests. They spent their second date building Legos. According to Robert, that 'pretty much sealed the deal'.
    p After that, they continued to embrace all that life has to offer and pushed each other to experience new things. Somehow Robert convinced Shang to bungee jump off a bridge, and Shang (finally) brought Robert outside of the country on a trip to Japan. Since then, they’ve been to music festivals, seen the Northern Lights, got certified for scuba diving, scaled the Great Wall of China, and fell in love with traveling in general.
    p
      | It was during their second trip to Japan in the spring of 2018 that Robert popped the question in Kyoto under a beautiful sakura tree, while being&nbsp;
      span.strike cheered on
      | &nbsp;stared at by dozens of well-wishing locals and tourists.
