doctype
html
  head
    title Shang &amp; Robert
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,900|Playfair+Display")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type="text/javascript", src="js/jquery-2.0.3.min.js")
  body
    .header
      .logo
      .rsvp
        | Please RSVP By May 1, 2019
        button.white RSVP
      .registry
        a(href="https://www.blueprintregistry.com/registry/shang-and-robert", target="_blank").button.white Registry

    .left-side
      .timeleft
        span.days#days
        span.text#daystext

    section.home
      .content-container
        .content
          include _home.jade
        .background-element
      .section-background

    section.location
      include _location

    section.images.three-square
      .image
      .image
      .image

    section.accomodations
      include _accomodations

    section.faq.dark
      include _faq

    section.rsvp
      include _rsvp




